<div class="login">
  <div class="login-container">
    <div class='omni-auth'>
        <%= form_tag(user_facebook_omniauth_authorize_path, class: 'facebook', method: :post) do %>
          <button type='submit'>Continue with Facebook</p>
        <% end %>
    </div>
  </div>
</div>